.background{
    height: 100vh;
    background-color: black;
}

h1{
    z-index: 999;
    position: absolute;
    top: 20px;
    margin: 0px;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
}

.buttons-div{
    background-color: antiquewhite;
    position: absolute;
    bottom: 0px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: design 2s;
}

@keyframes design {
    from {
        bottom: -400px;
    }
    to {
        bottom: 0px;
    }
}

ion-searchbar{
    border-radius: 50%;
}

.signup{
    margin-top: 20px;
    border-radius: 30px;
    width: 200px;
}