<ion-content [fullscreen]="true">

  <h1>Login to Your Account</h1>

  <div class="background">
    <div class="buttons-div">
      <ion-searchbar search-icon="mail-outline" placeholder="Email" [(ngModel)]="email"></ion-searchbar>
      <ion-searchbar type="password" search-icon="lock-closed-outline" placeholder="Password" [(ngModel)]="password"></ion-searchbar>
      <ion-button (click)="Login()" color="success" class="signup">LOGIN</ion-button>
      <ion-button (click)="signupPage()" class="login">SIGNUP</ion-button>
    </div>
  </div>


  </ion-content>
