<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div class="background">
  <div class="notif">
    <div [style.backgroundColor]="color" class="message" *ngFor="let notif of notificationList">
      <p>{{notif.message}}</p>
      <div class="deleteNotif">
        <a (click)="delete(notif)">Delete</a>
      </div>
    </div>
    <a class="changeColor" (click)="changeColor()">{{readAll}}</a>
  </div>
</div>
  
</ion-content>
