
<ion-content [fullscreen]="true">

  <div class="all">
    <div class="profile-image"></div>
    <div class="profName">
      <p><b>{{userPangalan}}</b></p>
    </div>
    <div style="z-index: 999;">
      
      <p><b>Followers: 1k  |   Following: 510</b></p>
    </div> 
    <ion-button class="edit" color="warning">EDIT</ion-button>
  </div>

  <div class="background">
    <div class="background1"></div>
    <div class="list">
      <div *ngFor="let prof of userProfile" class="item">
        <p class="desc">{{prof.desc}}</p>
        <img src="{{prof.link}}" alt="Displayed Image" (click)="openModal(prof)">
      </div>
    </div>
  </div>
  
  <ion-button color="danger" class="logout" (click)="logout()">Logout</ion-button>
</ion-content>
