
<ion-content [fullscreen]="true">
  <section class="fab">
    <ion-fab vertical="" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button href="https://www.facebook.com/ValenzuelaITSociety">
              <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
              <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
              <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </section>

  <div class="all">
    <div class="profile-image"></div>
    <div class="profName">
      <p><b>{{userPangalan}}</b></p>
    </div>
    <div style="z-index: 999;">
      
      <p><b>Followers: 1k  |   Following: 510</b></p>
    </div> 
    <ion-button class="edit" color="warning">EDIT</ion-button>
  </div>

  <div class="background">
    <div class="background1"></div>
    <div class="list">
      <div *ngFor="let prof of userProfile" class="item">
        <p class="desc">{{prof.desc}}</p>
        <img src="{{prof.link}}" alt="Displayed Image" (click)="openModal(prof.id, prof.link, prof.desc, prof.message, prof.react, prof)">
      </div>
    </div>
  </div>
  
  <ion-button color="danger" class="logout" (click)="logout()">Logout</ion-button>
</ion-content>
