
<ion-content [fullscreen]="true">

  <section class="fab">
    <ion-fab vertical="" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button>
              <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
              <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
              <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </section>

  <div class="all">
    <div class="profile-image"></div>
    <div style="z-index: 999;">
      <p><b>TestNameGmail</b></p>
    </div>
    <div style="z-index: 999;">
      <p><b>Followers: 1k   |   Following: 510</b></p>
    </div> 
    <ion-button class="edit" color="warning">EDIT</ion-button>
  </div>

  <div class="background">
    <div class="background1"></div>
    <div class="page">
      <div class="card">
        <div class="image1"></div>
      </div>
      <div class="card">
        <div class="image2"></div>
      </div>
      <div class="card">
        <div class="image3"></div>
      </div>
      <div class="card">
        <div class="image4"></div>
      </div>
      <div class="card">
        <div class="image5"></div>
      </div>
      <div class="card">
        <div class="image6"></div>
      </div>
    </div>
  </div>

</ion-content>
