<ion-content [fullscreen]="true">
  <div class="all"><p><u>ALL</u></p></div>

  <div class="list" *ngIf="contentDo">
    <div *ngFor="let user of userList" class="item">
      <p class="desc">{{user.desc}}</p>
      <img src="{{user.link}}" alt="Displayed Image" (click)="openModal(user)">
    </div>
  </div>

  <div class="list" *ngIf="comsetDo">
    <div *ngFor="let comSet of userComset" class="item">
      <p class="desc">{{comSet.comdesc}}</p>
      <img src="{{comSet.comlink}}" alt="Displayed Image" (click)="openModalComset(comSet)">
    </div>
  </div>

  <div class="list" *ngIf="pcassDo">
    <div *ngFor="let assembly of userAssembly" class="item">
      <p class="desc">{{assembly.asdesc}}</p>
      <img src="{{assembly.aslink}}" alt="Displayed Image" (click)="openModalAssembly(assembly)">
    </div>
  </div>

  <div class="list" *ngIf="itnewDo">
    <div *ngFor="let news of userNews" class="item">
      <p class="desc">{{news.newsdesc}}</p>
      <img src="{{news.newslink}}" alt="Displayed Image" (click)="openModalNews(news)">
    </div>
  </div>

  </ion-content>

  
