<ion-content [fullscreen]="true">
  <div class="all"><p><u>ALL</u></p></div>

    <div class="page">
      <div class="card">
        <div class="image1"></div>
      </div>
      <div class="card">
        <div class="image2"></div>
      </div>
      <div class="card">
        <div class="image3"></div>
      </div>
      <div class="card">
        <div class="image4"></div>
      </div>
      <div class="card">
        <div class="image5"></div>
      </div>
      <div class="card">
        <div class="image6"></div>
      </div>
      <div class="card">
        <div class="image7"></div>
      </div>
      <div class="card">
        <div class="image8"></div>
      </div>
    </div>

  </ion-content>

  
