
<ion-content [fullscreen]="true">
  <div class="bg">

    <div class="content">
      <p>IDEAS FOR YOU</p>

      <div class="card">
        <img src="assets/images/News.png" (click)="openAll()">
        <p>ALL</p>
      </div>

      <div class="card">
        <img src="assets/images/4.jpg" (click)="openComset()">
        <p>Computer Set<br> Up Ideas</p>
      </div>

      <div class="card">
        <img src="assets/images/1.jpg" (click)="openAssembly()">
        <p>PC<br> Assembly</p>
      </div>

      <div class="card">
        <img src="assets/images/7.jpg" (click)="openNews()">
        <p>IT<br> News</p>
      </div>

      
    </div>

  </div>
</ion-content>
