<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="logout()" color="danger" class="logout">Logout</ion-button>
  <div class="page">
    <div class="card">
      <p>Computer Parts</p>
    </div>
    <div class="card">
      <p>Coding</p>
    </div>
    <div class="card">
      <p>IT News</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="footer-button" icon="Home"><ion-icon name="Home"></ion-icon></ion-button>
  <ion-button class="footer-button" icon="Home"><ion-icon name="Search"></ion-icon></ion-button>
  <ion-button class="footer-button" icon="Home"><ion-icon name="Add"></ion-icon></ion-button>
  <ion-button class="footer-button" icon="Home"><ion-icon name="notifications"></ion-icon></ion-button>
  <ion-button class="footer-button" icon="Home"><ion-icon name="person"></ion-icon></ion-button>
</ion-footer>
