
<ion-content [fullscreen]="true">
  <div class="background">
    
    <div class="all">
      <div class="profile-image"></div>
      <div class="profName">
        <p><b>{{userPangalan}}</b></p>
      </div>
    </div>

    <div class="edit" *ngFor="let information of userInformation">
      <ion-item>
        <ion-input [(ngModel)]="information.name" label="Name:" placeholder={{information.name}}></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="information.bio" label="bio" labelPlacement="stacked" placeholder={{information.bio}}></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="information.gender" label="Gender:" placeholder={{information.gender}}></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="information.age" label="Age:" placeholder={{information.age}}></ion-input>
      </ion-item>

      <ion-button color="warning" class="done" (click)="apply(information)">Apply</ion-button>
    </div>


    <ion-button class="backBTN" (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  </div>
</ion-content>
