
<ion-content [fullscreen]="true">

  <h1>Create Your Account</h1>

  <div class="background">
    <div class="buttons-div">
      <ion-searchbar search-icon="mail-outline" placeholder="Email" [(ngModel)]="email"></ion-searchbar>
      <ion-searchbar type="password" search-icon="lock-closed-outline" placeholder="Password" [(ngModel)]="password"></ion-searchbar>
      <ion-searchbar type="password" search-icon="lock-closed-outline" placeholder="RetypePassword" [(ngModel)]="retypePassword"></ion-searchbar>
      <ion-button (click)="signUp()" color="primary" class="signup">SIGNUP</ion-button>
      <ion-button (click)="login()" color="success" class="login">LOGIN</ion-button>
    </div>
  </div>
</ion-content>
